{
  "presets": [
    [
      "env", {
        "targets": {
          "node": "current"
        },
        "test": {
          "plugins": ["istanbul"]
        }
      }
    ]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {}
    }],
    ["extensible-destructuring"]
  ]
}
